doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/button.css')
		script(type='text/javascript',src='/javascripts/jquery-1.9.1.js')
		script(type='text/javascript',src='/javascripts/jquery-ui.js')
		script(type='text/javascript',src='/javascripts/mainScreen.js')
	body(style='margin:0 auto;padding:0;width:980px')
		block content