doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		script(type='text/javascript', src='javascripts/jquery-1.9.1.min.js')
		script(type='text/javascript', src='javascripts/jquery-ui.js')		
		script
			tbl="#{arrParams.tbl}";			
		script(type='text/javascript', src='javascripts/sampleEventHandler.js')		
	body
		h1#mainTitle #{title}
		table#wrapper
			tr
				td#cLeft(valign='top')
					div#divSelectTable Select a table
					div#tableList						
				td#cRight(valign='top')
					div#divTitle
					div#divAutocompleteBox(style='margin-left:20px;')