extends layout
block content	
	script(type='text/javascript', src='javascripts/tableList_EventHandler.js')
	div#cloud-grey
	div#cloud-white
	div#container		
		table#data
			tr
				td
					img(src='images/ajax-loader.gif', style='border:0px')