extends layout
block content
	h1= title
	script(type='text/javascript', src='/javascripts/jquery-1.9.1.min.js')
	script(type='text/javascript', src='/javascripts/export_EventHandler.js')
	div#menu
		a(href='?page=browse') Browse
		span   |	
		a(href='?page=structure') Structure
		span   |	
		a(href='?page=import') Import
		span   |	
		span Export		
	div#container
		div
			h2 
				a(href='ajax?action=getAllRecords', target='_blank') 1. JSON
			h2 
				a(href='downloadCSV') 2. CSV File				
