extends layout
block content
	h1= title
	script(type='text/javascript', src='/javascripts/jquery-1.9.1.min.js')
	script(type='text/javascript', src='/javascripts/import_EventHandler.js')
	div#menu
		a(href='?page=browse') Browse
		span   |	
		a(href='?page=structure') Structure
		span   |	
		span Import
		span   |	
		a(href='?page=export') Export
	div#container
		div
			h2 1. POST method (JSON)
				form(method="post")
					textarea(name='content', style='width:800px; height:300px;') [{"Name":"X1", "Age":1, "City":"Hanoi"},{"Name":"X2", "Age":2, "City":"Hanoi"},{"Name":"X3", "Age":3, "City":"Hanoi"}]
					br
					center
						input(type="submit",name="action",value="POST")
			h2 2. CSV File
				form(method="post",enctype="multipart/form-data")
					input(type="file",name="filecsv")
					input(type="submit",name="action", value="Upload")    
	
	
	
