extends layout
block content
	h1= title	
	script(type='text/javascript', src='javascripts/browse_EventHandler.js')
	div#cloud-grey
	div#cloud-white
	div#menu
		span Browse
		span   |	
		a(href='?page=structure') Structure
		span   |	
		a(href='?page=import') Import
		span   |	
		a(href='?page=export') Export					
	div#listJS		
		div#toolbar
			div(style='float:left')
				button#btInsert Insert New Record	
			div(style='float:right')	
				input.search(placeholder="Search")
				button#btFilter Filter [Age>18]		
				button#btRemoveFilter Remove Filter
			div(style='clear:both;')
		table#data
			tr#tr-header
			tbody.list	
	div#loader(style='text-align:center')		
	
