body {
  background: #DCDCDC;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: auto;
}

a {
  color: #00B7FF;
}

#postdiv {
    background: #F8F8FF;
    width: 600px;
    border: solid 1px rgba(64, 104, 151, 0.52);
    margin: auto;
}
@media print {
    #changejs_hidden {
        display:none;
    }
    #changetemp_hidden {
        display:none;
    }
    #attachments {
        display:none;
    }
}
#emlContent ul {
    display: block;
    list-style: none;
}
#emlContent ul li{
    float: left;
    margin-right: 90px;
}