extends layout
block content
	h1= title
	script(type='text/javascript', src='/javascripts/jquery-1.9.1.min.js')
	script(type='text/javascript', src='/javascripts/listJS_EventHandler.js')
	div#cloud-grey
	div#cloud-white
	div#menu
		span Browse
		span   |	
		a(href='?page=structure') Structure
		span   |	
		a(href='?page=import') Import
		span   |	
		a(href='?page=export') Export	
	div#listJS
		table#data
			tr#tr-header
			tbody.list	
	
